.container-subscriptions {
    display: flex;
    width: 345px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.container-subscriptions h2 {

    color: #232322;
    font-family: Lexend;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.subscription-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}


p.subtitle {
    color: #232322;
    font-family: 'Lexend';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 8px;
}

