# Api

NODE_ENV=development
APP_DOMAIN=*
PORT=3000
JWT_SECRET=$2a$10$92jzvxuX1fv

# Database

DATABASE_HOST= localhost / host deploy
DATABASE_PORT= 3306
DIALECT= mysql o postgres
DATABASE_USERNAME= root / username deploy
DATABASE_NAME= nombre_base_de_datos
DATABASE_PASSWORD= contraseña_base_de_datos
